
    <ion-view>
       
    <ion-content>
       
        <ion-header-bar class="bar-energized">
            <div class="buttons">
                <button class="button icon ion-navicon" menu-toggle="left"></button>
            </div>
            <h1 class="title">Hey! Here's what you need to do.</h1>
        </ion-header-bar>
       
        <p>Swipe to the right to reveal the <br>left menu.</p>

        <div class="card">
            <div class="item item-divider">
                10 Pushups
            </div>
            <div class="item item-text-wrap">
                Make sure to Thasdlfahslf
            </div>
            <div class="item item-divider">
               You can do it!
            </div>
            <div class="item item-divider">
                10 Pushups
            </div>
            <div class="item item-text-wrap">
                Make sure to Thasdlfahslf
            </div>
            <div class="item item-divider">
                You can do it!
            </div>
            <div class="item item-divider">
                10 Pushups
            </div>
            <div class="item item-text-wrap">
                Make sure to Thasdlfahslf
            </div>
            <div class="item item-divider">
                You can do it!
            </div>
            <div class="item item-divider">
                10 Pushups
            </div>
            <div class="item item-text-wrap">
                Make sure to Thasdlfahslf
            </div>
            <div class="item item-divider">
                You can do it!
            </div>
        </div>
    </ion-content>
    <div class="tabs-striped tabs-color-assertive">
        <div class="tabs">
            <a class="tab-item active" href="#">
                <i class="icon ion-ios-list-outline"></i>
                Test
            </a>
            <a class="tab-item" href="#">
                <i class="icon ion-arrow-graph-up-right"></i>
                Favorites
            </a>
            <a class="tab-item" href="#">
                <i class="icon ion-gear-a"></i>
                Settings
            </a>
        </div>
    </div>
    </ion-view>
