<ion-view view-title="Intro">

        <ion-slide>
            <h3>Thank you for choosing the eTudr!</h3>
            <div id="logo">
                <img src="https://scontent-1.22773.fna.fbcdn.net/hphotos-xpt1/v/t1.0-9/11070178_1057077630974340_8262556395417917760_n.jpg?oh=56762f11b0206dd966d6941e730eba44&oe=5571AB1D">
                    </div>
            <p>
            Learn More, with less.
            </p>
            <p>
            By: Btroo and Fifizizi
            </p>
        </ion-slide>
    </ion-slide-box>
</ion-view>